table th{
    width: 310px;
    height: 80px;
}
table td{
    width: 1076px;
}
td {
    width: 82.44px;
    height: 30px;
    left: 632.73px;
    top: 439px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8A8A8A;
  }

.data{
    left: 645.16px;
top: 537.06px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}
.head {
    color: #222;
    width: 300px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }