<div class="dialog-overlay"></div>
<div class="dialog-container d-flex justify-content-between flex-column">
  <div>
  <div class="dialog-header d-flex justify-content-between">
    <h2 class="dialog-title">Genrate Chat</h2>
    <button class="close-button btn" (click)="closeSalaryForm()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="dialog-content">
    <div class="form-group d-flex gap-3" >
      <select *ngIf=" companyList==0"
        name="employee-name"
        class="form-control"
        [(ngModel)]="employeeList">
        <option value="0">Select colleague</option>
       <ng-container *ngFor="let emp of employeeLists">
        <option [value]="emp.employeeID" >{{ emp.fullName }}</option>
       </ng-container>
      </select>
      <select *ngIf="employeeList==0"
        name="employee-name"
        class="form-control"
        [(ngModel)]="companyList">
        <option value="0">Select Company</option>
        <option [value]="this.id">{{this.company}}</option>
       <!-- <ng-container *ngFor="let com of companyLists">
        <option [value]="com.companyID" >{{ com.companyName }}</option>
       </ng-container> -->
      </select>
      
    </div>
    <div class="form-group">
        <label class="label_style">Message</label>
        <!-- <input class="form-control" type="text" placeholder="Write Message Here" [(ngModel)]="MessageBody"> -->
        <textarea [(ngModel)]="MessageBody" class="form-control" cols="50" rows="3"></textarea>
      </div>
  </div>
  </div>
  <div class="dialog-footer d-flex justify-content-end">
    <button class=" btn save-button px-3 py-2" (click)="sendMessage()">
      Send Message
    </button>
  </div>
</div>
